.new_payment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new_payment_form{
    display: flex;
    width: 60%;
    height: 250px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.new_contact_image:hover{
  background-color:#908f8f;
}

.new_payment_form input{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    width: 50%;
    border: 1px solid #c3c3c3;
}

.new_contact_image {
  margin-top: 150px;
  width: 20%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  background-color: #c2c2c2;
  border-radius: 100%;
}

.add_image {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 1em;
}

.add_image span {
  font-size: 4em;
}


.back {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}

#description {
  font-family: inherit;
}